@model Covid_19_WebApp.Models.Vaccine

@{
    ViewData["Title"] = "Details";
   Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

@section Styles{
  
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="assets/images/icon-removebg-preview.png">
    <link rel="shortcut icon" href="assets/images/fav.jpg">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="~/assets/css/style.css.map">
}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<center>
    <h1>Vaccine Detail</h1>
</center>


<div>
    <h4>Vaccine</h4>
    <hr />
    <dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehouseID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehouseID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VaccineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VaccineName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VaccineID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
